.Liked-video-container {
 padding: 8px 12px;
}

.Liked-video-row {
    /* border: 1px solid gray; */
    height: 100px;
    width: auto; 
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.liked-number {
    color: white;
    padding: 0;
}

.img-box {
    padding: 0 10px 0 0;
}

.liked-img {
    width: 100%;
    border-radius: 10px;
}

.liked-title-row {
    /* border: 1px solid gray; */
    height: auto;
    margin-bottom: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

p.liked-title  {
    padding: 0;
    width: 280px;

}

.liked-video-details {
    padding: 0;
}

.liked-video-channel {
    /* border: 1px solid gray; */
    height: auto;
    color: lightgray;
    font-size: 12px;
}



.Liked-video-container:hover {
    background-color: rgb(39, 39, 39);
    border-radius: 25px;
   
}

.remove-like {
    padding: 0px;
}
.remove-like-btn {
    background-color: rgb(59, 59, 59);
    border-radius: 50%;
    
    color: white;
    padding: 0px;
    width: 25px; 
    height: 25px;
    
}

::-webkit-scrollbar {
    display: none;
}