.Login {
    padding-top: 6%;
    /* display: flex; */
    /* flex-direction: row;  */
    /* align-items: center; */
    /* justify-content: center; */
    /* height: 100vh; */ 
}

.login-header h1 {
    color: red;
    font-size: 6rem;
}

.login-header span {
    color: white;
}

.login-description p {
    color: lightgray;
    width: 425px;
   
    font-size: 14px;
}
.form-box {
    border: 1px solid gray;
    width: 500px;
    height: 175px; 
    margin: 50px auto;
   
}

.login-btn {
   
    width: 300px;
}