.search-component {
  /* border: .5px solid white; */
  width: 100%;
  margin: 0;
  padding: 0;
  max-height: 90vh;

  overflow-y: auto;
  /* margin: 20px; */
}

.search-results-list {
  height: 600px;
  overflow-y: auto;
  width: 100%;
}

.search-container {
  height: 75px;
}
